<main>

<div class="outer-container">
  <div class="form-container">
    <form [formGroup]="reactiveForm" (ngSubmit)="handleTranslation()">
      <h1>Dierenvertaler</h1>
      <label for="content">Te vertalen tekst</label>
      <textarea name="content_input" id="content_input" rows="10" formControlName="content_input"></textarea>

      <div class="button_container">

        <div class="translate_from_container">
        <label for="from">Van</label>
        <select (change)="onSelectChangeFrom($event)" name="from" id="" formControlName="translate_from">
          <option *ngFor="let original of originals" value="{{original}}">{{original}}</option>
        </select>
        </div>

        <div class="translate_to_container">
        <label for="to">Naar</label>
          <select (change)="onSelectChangeTo($event)" name="to" id="" formControlName="translate_to">
            <option *ngFor="let translator of translators" value="{{translator}}">{{translator}}</option>
        </select>
        </div>

        <input type="submit" value="translate" id="button_translate">
      </div>



      <textarea name="content_output" id="content_output" rows="10">{{this.sentence}}</textarea>
    </form>
  </div>
</div>

</main>


<router-outlet />
