* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

h1 {

}

.h1 {
  padding-bottom: .6rem;
}

label {
  padding-bottom: .4rem;
  display: inline-block;
}

textarea {
  border-radius: 20px;
  border: none
}

select {
  width: 100px;
  margin-right: 1rem;
  cursor: pointer;
}

.button_container {
  display: flex;
  margin-block: 1rem;
}

#button_translate {
  border-radius: 24px;
  padding-inline: 1rem;
  justify-self: flex-start;
  border: none;
  cursor: pointer;
  transition: .3s ease;

  &:hover {
    background-color: #A7C957;
    color: white;
  }
}


.translate_from_container {
  display: flex;
  flex-direction: column;
}

.translate_to_container {
  display: flex;
  flex-direction: column;
}

.outer-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  width: 100%;
}

.form-container {
  margin-inline: 2rem;
  max-width: 38rem;
  width: 100%;
}


#content_input {
  width: 100%;
  padding: 12px 20px;
}

#content_output {
  width: 100%;
  padding: 12px 20px;
}

.labrador {
  font-weight: bold;
  font-size: 18px;
}

.poedel {
  color: gray;
  font-size: 12px;
}

.translation_output {
  width: 100%;
  height: auto;
  min-height: 10rem;
  background-color: white;
  border-radius: 20px;
}

.error {
  color: red;
  margin-left: 1rem;
}

.checkbox_container {
  margin-inline: 1rem 2rem;
  display: flex;
  align-items: flex-end;
}

input[type="checkbox"] {
  margin-right: .6rem;
  margin-bottom: .6rem;
}

@media screen and (max-width: 600px) {
  .button_container {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .translate_from_container {
    width: 50%;
    order: 1;
  }

  .translate_to_container {
    width: 50%;
    order: 2;
  }

  .checkbox_container {
    width: 50%;
    order: 3;
    margin-inline: 0;
  }

  #button_translate {
    // width: 50%;
    order: 4;
  }
}
